body {
    background: #fff;
    min-height: 100vh;
}

.header {
    background-color:#F77911;
    background: linear-gradient(#F77911,#5A2494);
}
#header{
  height: 60px;
  background-color: #5A2494;
}

nav{
  background-color: #3c1863;
}

h1{
text-decoration: underline #F77911;
}


h3{
    color:#5A2494 ;
}

#basP{
  background-color: #5A2494;
  color: #fff;
}